@model IEnumerable<CacheAspect.Web.Models.ProductModel.IndexModel>
@{
    ViewBag.Title = "Customers - Cache Aspect";
}

<h2>Customers</h2>

<p>
    Update successful.
</p>

<p>
    <a href="@Url.Action("Index", "Customer")" class="btn">Return to Customers</a>
</p>

