@model IEnumerable<CacheAspect.Web.Models.ProductModel.IndexModel>
@{
    ViewBag.Title = "Suppliers - Cache Aspect";
}

<h2>Suppliers</h2>

<p>
    Update successful.
</p>

<p>
    <a href="@Url.Action("Index", "Supplier")" class="btn">Return to Suppliers</a>
</p>

