@model IEnumerable<CacheAspect.Web.Models.ProductModel.IndexModel>
@{
    ViewBag.Title = "Products - Cache Aspect";
}

<h2>Products</h2>

<p>
    Update successful.
</p>

<p>
    <a href="@Url.Action("Index", "Product")" class="btn">Return to Products</a>
</p>

